.pictures {
    display: flex;
}

.buttons {
    display: flex;
}

.cats1 {
    width: 10rem;
    height: 100px;
}

.cats2 {
    width: 100px;


}

.button1 {
    color: black;
}

.button2 {
    color: black;
}